.about-history{
    width: calc(75% - 20px);
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2em;
    font-family: "Lato",sans-serif;
    letter-spacing: 0.01em;
    margin-bottom: 25px;
}
.next-header{
    width: calc(90% - 10px);
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    font-size: 1.5em;
    font-family: "Oswald",sans-serif;
    margin-bottom: 7px;
}
.future-section{
    width: calc(70% - 20px);
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2em;
    font-family: "Lato",sans-serif;
}