.short-describe{
    width: calc(70% - 20px);
    padding: 10px;
    display: block;
    font-family: "Oswald",sans-serif;
    .short-describe-header{
        font-size: 2.6em;
    }
    .short-describe-content{
        font-size: 1.7em;
        font-family: serif;
        margin-top: 10px;
        text-shadow: 1px 1px 1px #eee;
    }
}
.right-aligned{
    margin-left: auto;
}