@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

@import "map";
@import "nav";

@import "./subcomponents/describe";
@import "./subcomponents/contact";
@import "./subcomponents/about";