.selectedArmy-content{
    width: calc(80% - 20px);
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: rgba(1,1,1,.1);
    padding: 10px;
    .army-header,.countryFlag{
        display: inline-block;
    }
    .army-header{
        margin-right: 10px;
        font-size: 2.4em;
    }
}