nav{
    width: 100%;
    height: 67px;
    background: #111;
    display: block;
    .navbar-main,.nav-button{
        height: 67px;
        display: inline-block;
        width: 15%;
        background: transparent;
        color: #eee;
        border: none;
        font-size: 25px;
        letter-spacing: 0.03em;
        margin-left: 20px;
        margin-right: 20px;
        transition: all 0.2s;
        cursor: pointer;
    }
    button:hover{
        height: 62px;
        font-size: 30px;
    }
    button:focus{
        outline: none;
    }
    .nav-button .contant{
        margin-left: auto;
    }
}